<div id="sidebar" class="sidebar-offcanvas">
    <div class="col-md-12">
        <h3></h3>


        <!--<p>
        <a  data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Master Settings
        </a>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">

        </div>
    </div>-->
        <div class="panel panel-default">
            <div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseList">
                <h3 class="panel-title">
                    
                    <a href="">DashBoard</a><i class="fa fa-sign-out fa-fw pull-right"></i>
                </h3>
            </div>
            <ul id="collapseList" class="list-group collapse">
                <li class="list-group-item">Bootply</li>
                <li class="list-group-item">Triveo</li>
                <li class="list-group-item">Behance</li>
            </ul>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseList1">
                <h3 class="panel-title">
                    <a href="">Customers</a><i class="fa fa-sign-out fa-fw pull-right"></i>
                </h3>
            </div>
            <ul id="collapseList1" class="list-group collapse">

                <li class="list-group-item"> <a ng-href="#/CustomerMaster">Customer</a></li>
                <li class="list-group-item"> <a ng-href="#/CustomerTypes">CustomerType</a></li>
            </ul>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseList2">
                <h3 class="panel-title">
                    

                    <a href="">Supplier</a><i class="fa fa-sign-out fa-fw pull-right"></i>
                </h3>
            </div>
            <ul id="collapseList2" class="list-group collapse">
                <li class="list-group-item"> <a ng-href="#/suppliermaster">Suppliers</a></li>
                <li class="list-group-item"> <a ng-href="#/SupplierTypes">SupplierTypes</a></li>
            </ul>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseList3">
                <h3 class="panel-title">
                    
                    <a href="">Product</a><i class="fa fa-sign-out fa-fw pull-right"></i>

                </h3>
            </div>
            <ul id="collapseList3" class="list-group collapse">
                <li class="list-group-item"> <a ng-href="#/products">products</a></li>
                <li class="list-group-item"> <a ng-href="#/ProductGroups">ProductGroups</a></li>
                <li class="list-group-item"> <a ng-href="#/ProductCategory">ProductCategory</a></li>
            </ul>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseList4">
                <h4 class="panel-title">
                    
                    <a href="">Sales</a><i class="fa fa-sign-out fa-fw pull-right"></i>
                </h4>
            </div>
            <ul id="collapseList4" class="list-group collapse">
                <li class="list-group-item"> <a ng-href="#/Salesform">Salesform</a></li>
                <li class="list-group-item"> <a ng-href="#/salesReports">salesReports</a></li>

            </ul>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseList5">
                <h4 class="panel-title">
                    <a href="">Purchase</a><i class="fa fa-sign-out fa-fw pull-right"></i>
                </h4>
            </div>
            <ul id="collapseList5" class="list-group collapse">
                <li class="list-group-item"> <a ng-href="#/purchaseForm">purchaseForm</a></li>
                <li class="list-group-item"> <a ng-href="#/PurchaseReport">PurchaseReport</a></li>

            </ul>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseList6">
                <h4 class="panel-title">
                    <a href="">Settings</a><i class="fa fa-sign-out fa-fw pull-right"></i>
                </h4>
            </div>
            <ul id="collapseList6" class="list-group collapse">
                <li class="list-group-item"><a ng-href="#/UnitOfMeasurement">UnitOfMeasurement</a></li>
                <li class="list-group-item"><a ng-href="#/PosMaster">PosMaster</a></li>
                <li class="list-group-item"> <a ng-href="#/StoreMaster">StoreMaster</a></li>
                <li class="list-group-item"> <a ng-href="#/location">location</a></li>


            </ul>
        </div>

        <div>
            <ul>
                <li><a ng-href="#/registers">Set Up Inventry<i class="fa fa-plus-circle fa-fw pull-right"></i></a></li>
            </ul>
        </div>

        <div>
            <ul>
                <li><a ng-href="#/login" ng-if="!userData.isUserLoggedIn">Login<i class="fa fa-sign-in fa-fw pull-right"></i></a></li>
         
            </ul>
        </div>
        <!--<div>
            <ul>
              
                <li><button type="button" class="btn btn-danger btn-sm" ng-click="logout();" ng-if="userData.isUserLoggedIn">Logout<i class="fa fa-sign-out fa-fw pull-right"></i></button></li>
            </ul>
        </div>-->







     

    </div>
</div>
