<div id="sidebar" class="sidebar-offcanvas" style="background-color:#11313c">
    <div class="col-md-12">
        <h3></h3>
        <div class="panel panel-default">
            <div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseList">
                <h3 class="panel-title">
                    <a ng-href="#/">DashBoard<i class="fa fa-home fa-fw pull-right"></i></a>
                </h3>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseList1">
                <h3 class="panel-title">
                    <a href="">Customers</a><i class="fa fa-sign-out fa-fw pull-right"></i>
                </h3>
            </div>
            <ul id="collapseList1" class="list-group collapse">
                <li class="list-group-item"> <a ng-href="#/CustomerTypes">CustomerType</a></li>
                <li class="list-group-item"> <a ng-href="#/CustomerMaster">Customer</a></li>
            </ul>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseList2">
                <h3 class="panel-title">
                    <a href="">Supplier</a><i class="fa fa-sign-out fa-fw pull-right"></i>
                </h3>
            </div>
            <ul id="collapseList2" class="list-group collapse">
                <li class="list-group-item"> <a ng-href="#/SupplierTypes">SupplierTypes</a></li>
                <li class="list-group-item"> <a ng-href="#/suppliermaster">Suppliers</a></li>
            </ul>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseList3">
                <h3 class="panel-title">
                    <a href="">Product</a><i class="fa fa-sign-out fa-fw pull-right"></i>

                </h3>
            </div>
            <ul id="collapseList3" class="list-group collapse">
                <li class="list-group-item"> <a ng-href="#/ProductGroups">ProductGroups</a></li>
                <li class="list-group-item"> <a ng-href="#/ProductCategory">ProductCategory</a></li>
                <li class="list-group-item"> <a ng-href="#/products">products</a></li>
            </ul>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseList4">
                <h4 class="panel-title">

                    <a href="">Sales</a><i class="fa fa-sign-out fa-fw pull-right"></i>
                </h4>
            </div>
            <ul id="collapseList4" class="list-group collapse">
                <!--<li class="list-group-item"> <a ng-href="#/Salesform">Salesform</a></li>-->
                <li class="list-group-item"> <a ng-href="#/salesReports">Sales order Management Form</a></li>

            </ul>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseList5">
                <h4 class="panel-title">
                    <a href="">Purchase</a><i class="fa fa-sign-out fa-fw pull-right"></i>
                </h4>
            </div>
            <ul id="collapseList5" class="list-group collapse">
                <!--<li class="list-group-item"> <a ng-href="#/purchaseForm">purchaseForm</a></li>-->
                <li class="list-group-item"> <a ng-href="#/PurchaseReport">PurchaseReport</a></li>
            </ul>
        </div>
         <div class="panel panel-default">
            <div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseList8">
                <h4 class="panel-title">
                    <a href="">Staff</a><i class="fa fa-sign-out fa-fw pull-right"></i>
                </h4>
            </div>
            <ul id="collapseList8" class="list-group collapse">
                <li class="list-group-item"> <a ng-href="#/employee">Staff</a></li>
                <!--<li class="list-group-item"> <a ng-href="#/PurchaseReport">PurchaseReport</a></li>-->
            </ul>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseList6">
                <h4 class="panel-title">
                    <a href="">Settings</a><i class="fa fa-sign-out fa-fw pull-right"></i>
                </h4>
            </div>
            <ul id="collapseList6" class="list-group collapse">
                <li class="list-group-item"><a ng-href="#/UnitOfMeasurement">UnitOfMeasurement</a></li>
                <li class="list-group-item"><a ng-href="#/PosMaster">PosMaster</a></li>
                <li class="list-group-item"> <a ng-href="#/StoreMaster">StoreMaster</a></li>
                <li class="list-group-item"> <a ng-href="#/location">location</a></li>
                <li class="list-group-item"><a ng-href="#/registers">Set Up Inventry</a></li>
                <!--<li class="list-group-item"><a ng-href="#/login" ng-if="!userData.isUserLoggedIn">Login</a></li>-->
            </ul>
        </div>

        <div class="panel-heading collapsed" data-toggle="collapse" data-target="#collapseList7">
            <h4 class="panel-title">
                <a href="">Home</a><i class="fa fa-sign-out fa-fw pull-right"></i>
            </h4>
        </div>
        <ul id="collapseList7" class="nav nav-pills nav-stacked list-group collapse">
            <li><a ng-href="#/movies/">Movies<i class="fa fa-film fa-fw pull-right"></i></a></li>
            <li><a ng-href="#/rental/">Rental history<i class="fa fa-leanpub fa-fw pull-right"></i></a></li>
        </ul>
    </div>
</div>
