<div class="panel panel-primary">
    <div class="panel-heading" ng-if="save=='update'">
        Update SupplierType
    </div>
    <div class="panel-heading" ng-if="save=='add'">
        Added SupplierType
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">

                <div class="col-xs-8 selectContainer">
                    <label class="control-label">Name</label>
                    <input type="text" placeholder="Name" class="form-control form-control-small ng-valid-maxlength ng-touched" ng-model="modelobj.Name" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-8 selectContainer">
                    <label class="control-label">Description</label>

                    <textarea class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" ng-model="modelobj.Description" name="description" rows="3" validate-on="blur" required="" required-message="'Movie description is required'"></textarea>

                </div>
            </div>
            <!--<div class="form-group">
                <div class="col-xs-8 selectContainer">
                    <label class="control-label">Active</label>
                    <input type="checkbox" ng-model="modelobj.IsActive" />
                </div>
            </div>-->
        </form>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-danger" ng-click="cancelEdit()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="UpdatedSuppliertype()" ng-if="save=='update'">submit</button>
            <button ng-click="AddSupplierModel();" type="button" class="btn btn-primary ng-scope" ng-if="save=='add'">save</button>

        </div>
    </div>
</div>
