<div class="jumbotron" style="padding-bottom: 400px;">

    <div class="container text-center">
        <img alt="{{movie.Title}}" ng-src="../../../Content/images/movies/{{movie.Image}}" class="pull-left" height="150" />
        <!--<div class="movieDescription"><i><i class="fa fa-quote-left"></i>{{movie.Description}}</i></div>-->
        <br />
        <div class="btn-group">
            <!--<button style="margin-left:400%;width:100%;" type="button" ng-click="AddSupplier();" class="btn btn-sm btn-primary">Add Supplier <i class="fa fa-plus pull-right"></i></button>-->

        </div> <!-- end btn-group -->
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Home SupplierTypes</h4>
            <div class="input-group">
                <input id="inputSearchMovies" type="search" ng-model="filterSupplierTypes" class="form-control shortInputSearch" placeholder="Filter, search SupplierTypes..">
                <div class="input-group-btn">
                    <button class="btn btn-primary" ng-click="search();"><i class="glyphicon glyphicon-search"></i></button>
                    <button class="btn btn-primary" ng-click="clearSearch();"><i class="glyphicon glyphicon-remove-sign"></i></button>
                    <button class="btn btn-primary" ng-click="AddSupplier();"><i class="fa "></i>Add New </button>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="table-responsive" ng-if="!loadingsupplier">
                <table class="table table-bordered">
                    <thead>
                        <tr>

                            <!--<th>Id</th>-->
                            <th>Name</th>
                            <th>Description</th>
                            <!--<th>IsActive</th>
                            <th>CreatedBy</th>
                            <th>CreatedDate</th>
                            <th>ModifiedBy</th>
                            <th>ModifiedDate</th>-->
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="SupplierType in filteredSubjectData|filter:filterSupplierTypes">

                            <!--<td>{{SupplierType.Id}}</td>-->
                            <td>{{SupplierType.Name}}</td>
                            <td>{{SupplierType.Description}}</td>
                            <!--<td>{{ProductGroup.IsActive}}</td>
                            <td>{{ProductGroup.CreatedBy}}</td>
                            <td>{{ProductGroup.CreatedDate}}</td>
                            <td>{{ProductGroup.ModifiedBy}}</td>
                            <td>{{ProductGroup.ModifiedDate}}</td>-->

                            <td class="col-sm-2">
                                <button ng-click="openSupplierTypeDialogContainer(SupplierType);" type="button" class="btn btn-sm btn-primary">Edit</button>
                                <button ng-click="removeSupplierType(SupplierType.Id);" type="button" class="btn btn-sm btn-primary">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-4 pull-left">
                    <div class="dataTables_length" id="datatable_length">
                        <label>
                            show
                            <select name="datatable_length"
                                    aria-controls="datatable"
                                    class="form-control input-sm"
                                    data-ng-model="numPerPage"
                                    data-ng-options="x for x in showPerPageDataOptions"></select>
                            entries
                        </label>
                    </div>
                </div>
                
                &nbsp;&nbsp;&nbsp;
                <div class="col-sm-8 pull-right" >
                    <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">
                        showing {{currentPage*numPerPage - numPerPage  + 1}} to {{SupplierTypes.length > currentPage*numPerPage ? currentPage*numPerPage : SupplierTypes.length}} of {{SupplierTypes.length}} entries
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6 pull-right">
                    <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                        <pagination ng-model="currentPage"
                                    total-items="SupplierTypes.length"
                                    max-size="maxSize"
                                    boundary-links="true"
                                    items-per-page="numPerPage">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>