USE [TMS_DB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/29/2018 10:40:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityMaster]    Script Date: 7/29/2018 10:40:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[LoginTime] [datetime] NULL,
 CONSTRAINT [PK_ActivityMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AddressMaster]    Script Date: 7/29/2018 10:40:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Address] [varchar](200) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
 CONSTRAINT [PK_AddressMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 7/29/2018 10:40:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [varchar](50) NULL,
	[Author] [varchar](50) NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 7/29/2018 10:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[IdentityCard] [nvarchar](50) NOT NULL,
	[UniqueKey] [uniqueidentifier] NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Mobile] [nvarchar](10) NULL,
	[RegistrationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerMaster]    Script Date: 7/29/2018 10:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[Address] [nvarchar](max) NULL,
	[EmailId] [nvarchar](100) NULL,
	[PhoneNumber] [bigint] NULL,
	[AlternatePhoneNumber] [bigint] NULL,
	[FaxNumber] [bigint] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_CustomerMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerTypeMaster]    Script Date: 7/29/2018 10:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerTypeMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[Description] [varchar](500) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_CustomerTypeMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Error]    Script Date: 7/29/2018 10:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Error](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Error] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 7/29/2018 10:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Genre] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationMaster]    Script Date: 7/29/2018 10:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](200) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_LocationMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 7/29/2018 10:40:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[GenreId] [int] NOT NULL,
	[Director] [nvarchar](100) NOT NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[Producer] [nvarchar](50) NOT NULL,
	[ReleaseDate] [datetime] NOT NULL,
	[Rating] [tinyint] NOT NULL,
	[TrailerURI] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.Movie] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_LookUps]    Script Date: 7/29/2018 10:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_LookUps](
	[LookUpType] [nvarchar](50) NOT NULL,
	[LookUpName] [nvarchar](200) NOT NULL,
	[LookUpValue] [int] NOT NULL,
	[LookUpValueStr] [nvarchar](200) NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_LookUp] PRIMARY KEY CLUSTERED 
(
	[LookUpType] ASC,
	[LookUpName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PosMaster]    Script Date: 7/29/2018 10:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PosMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_PostMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategoryMaster]    Script Date: 7/29/2018 10:40:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategoryMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[Description] [varchar](500) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[Prod_Grp_Id] [int] NULL,
 CONSTRAINT [PK_ProductCategoryMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductGroupMaster]    Script Date: 7/29/2018 10:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductGroupMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[Description] [varchar](500) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_ProductGroupMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductMaster]    Script Date: 7/29/2018 10:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[Description] [varchar](500) NULL,
	[ImageURI] [nvarchar](500) NULL,
	[GRNCode] [nvarchar](200) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[Prod_Cat_Id] [int] NULL,
 CONSTRAINT [PK_ProductMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseDetailMaster]    Script Date: 7/29/2018 10:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseDetailMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseId] [int] NULL,
	[ProductId] [int] NULL,
	[UomId] [int] NULL,
	[Quantity] [nvarchar](200) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_PurchaseDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseMaster]    Script Date: 7/29/2018 10:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseDate] [datetime] NULL,
	[Status] [int] NULL,
	[IsActive] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[Supplier_Id] [int] NULL,
 CONSTRAINT [PK_PurchaseMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rental]    Script Date: 7/29/2018 10:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rental](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[StockId] [int] NOT NULL,
	[RentalDate] [datetime] NOT NULL,
	[ReturnedDate] [datetime] NULL,
	[Status] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_dbo.Rental] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/29/2018 10:40:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesDetail]    Script Date: 7/29/2018 10:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SalesId] [int] NULL,
	[Quantity] [nvarchar](200) NULL,
	[ProductId] [int] NULL,
	[UOMId] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_SalesDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesMaster]    Script Date: 7/29/2018 10:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PosId] [int] NULL,
	[UserId] [int] NULL,
	[CustomerId] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[SalesDate] [datetime] NULL,
 CONSTRAINT [PK_SalesMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 7/29/2018 10:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MovieId] [int] NOT NULL,
	[UniqueKey] [uniqueidentifier] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Stock] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreMaster]    Script Date: 7/29/2018 10:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseDetailId] [int] NULL,
	[LocationId] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_StoreMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentTest]    Script Date: 7/29/2018 10:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentTest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[EmailId] [nvarchar](50) NULL,
	[PhoneNumber] [bigint] NULL,
	[AlternatePhoneNumber] [bigint] NULL,
	[Address] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_StudentTest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierMaster]    Script Date: 7/29/2018 10:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[Address] [nvarchar](max) NULL,
	[EmailId] [nvarchar](100) NULL,
	[PhoneNumber] [bigint] NULL,
	[AlternatePhoneNumber] [bigint] NULL,
	[FaxNumber] [bigint] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[SupplierTypeId] [int] NULL,
 CONSTRAINT [PK_SupplierMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierTypeMaster]    Script Date: 7/29/2018 10:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierTypeMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[Description] [varchar](500) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_SupplierTypeMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitOfMeasurementMaster]    Script Date: 7/29/2018 10:40:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitOfMeasurementMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
	[Description] [varchar](500) NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_UnitOfMeasurementMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/29/2018 10:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[HashedPassword] [nvarchar](200) NOT NULL,
	[Salt] [nvarchar](200) NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 7/29/2018 10:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[DateOfBrith] [datetime] NULL,
	[FatherName] [varchar](50) NULL,
	[MobileNumber] [bigint] NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_UserMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 7/29/2018 10:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserRole] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Watch]    Script Date: 7/29/2018 10:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Watch](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Price] [bigint] NULL,
	[Brand] [varchar](50) NULL,
 CONSTRAINT [PK_Watche] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([ID], [BookName], [Author]) VALUES (1, N'c#.net', N'andrew')
INSERT [dbo].[Book] ([ID], [BookName], [Author]) VALUES (2, N'think&grow rich', N'napolean hiil')
SET IDENTITY_INSERT [dbo].[Book] OFF
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([ID], [FirstName], [LastName], [Email], [IdentityCard], [UniqueKey], [DateOfBirth], [Mobile], [RegistrationDate]) VALUES (1, N'Adele', N'Torphy', N'domenic_auer@filiberto.co.uk', N'7f8c296a-d681-4877-9c25-387156e2c1d7', N'08ddc12d-7182-4297-bef3-9912c1662ff2', CAST(N'1985-10-30T00:00:00.000' AS DateTime), N'1234567890', CAST(N'2018-07-07T09:36:57.583' AS DateTime))
INSERT [dbo].[Customer] ([ID], [FirstName], [LastName], [Email], [IdentityCard], [UniqueKey], [DateOfBirth], [Mobile], [RegistrationDate]) VALUES (2, N'Simone', N'Oberbrunner', N'danny.yost@beatty.com', N'7a407763-c2f8-48d0-a380-4a48b2fa206b', N'66311a13-7ce6-4976-ab2a-406b9e933893', CAST(N'1985-11-30T00:00:00.000' AS DateTime), N'1234567890', CAST(N'2018-07-08T09:36:57.583' AS DateTime))
INSERT [dbo].[Customer] ([ID], [FirstName], [LastName], [Email], [IdentityCard], [UniqueKey], [DateOfBirth], [Mobile], [RegistrationDate]) VALUES (3, N'Hollis', N'Heaney', N'christopher@jast.name', N'dd497427-4176-46a9-a976-0aa5c5fe4f39', N'85f5e2f9-97f8-4cb9-87d6-5ea470d975a9', CAST(N'1985-12-30T00:00:00.000' AS DateTime), N'1234567890', CAST(N'2018-07-09T09:36:57.583' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[CustomerMaster] ON 

INSERT [dbo].[CustomerMaster] ([Id], [Name], [Address], [EmailId], [PhoneNumber], [AlternatePhoneNumber], [FaxNumber], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'yora', N'Marathali', N'yoraTech@123', 852123698, 963256987, 123, 1, 1, CAST(N'2018-07-08T00:00:00.000' AS DateTime), 1, CAST(N'2018-07-09T00:00:00.000' AS DateTime))
INSERT [dbo].[CustomerMaster] ([Id], [Name], [Address], [EmailId], [PhoneNumber], [AlternatePhoneNumber], [FaxNumber], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, N'Wipro', N'whitefield', N'wipro@gmail.com', 8527899632, 9639877412, 1235, 1, 1, CAST(N'2018-07-23T08:58:26.837' AS DateTime), 1, CAST(N'2018-07-23T08:58:26.837' AS DateTime))
INSERT [dbo].[CustomerMaster] ([Id], [Name], [Address], [EmailId], [PhoneNumber], [AlternatePhoneNumber], [FaxNumber], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (4, N'yoratech', N'banglore', N'yora@123', 8527452, 963789963, 12345, 0, 1, CAST(N'2018-07-24T10:56:07.667' AS DateTime), 1, CAST(N'2018-07-24T10:56:07.667' AS DateTime))
SET IDENTITY_INSERT [dbo].[CustomerMaster] OFF
SET IDENTITY_INSERT [dbo].[CustomerTypeMaster] ON 

INSERT [dbo].[CustomerTypeMaster] ([Id], [Name], [Description], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'yoratechnologies', N'WebApiandAngular', 0, 1, CAST(N'2018-07-08T12:13:40.487' AS DateTime), 1, CAST(N'2018-07-28T09:48:49.217' AS DateTime))
INSERT [dbo].[CustomerTypeMaster] ([Id], [Name], [Description], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, N'Lenovo', N'Lenovo is good product', 1, 1, CAST(N'2018-07-08T12:14:33.740' AS DateTime), 1, CAST(N'2018-07-08T13:49:20.703' AS DateTime))
INSERT [dbo].[CustomerTypeMaster] ([Id], [Name], [Description], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, N'RGgroups', N'Product', 1, 1, CAST(N'2018-07-08T12:15:16.283' AS DateTime), 1, CAST(N'2018-07-08T12:15:16.283' AS DateTime))
SET IDENTITY_INSERT [dbo].[CustomerTypeMaster] OFF
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([ID], [Name]) VALUES (1, N'Comedy')
INSERT [dbo].[Genre] ([ID], [Name]) VALUES (2, N'Sci-fi')
INSERT [dbo].[Genre] ([ID], [Name]) VALUES (3, N'Action')
SET IDENTITY_INSERT [dbo].[Genre] OFF
SET IDENTITY_INSERT [dbo].[LocationMaster] ON 

INSERT [dbo].[LocationMaster] ([Id], [Name], [Description], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'pvpalem', N'piduguralla', 1, 1, CAST(N'2018-07-08T00:00:00.000' AS DateTime), 1, CAST(N'2018-07-08T00:00:00.000' AS DateTime))
INSERT [dbo].[LocationMaster] ([Id], [Name], [Description], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, N'gnt', N'ap', 1, 1, CAST(N'2018-07-08T00:00:00.000' AS DateTime), 1, CAST(N'2018-07-08T00:00:00.000' AS DateTime))
INSERT [dbo].[LocationMaster] ([Id], [Name], [Description], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, N'hyd', N'tl', 1, 1, CAST(N'2018-07-12T00:00:00.000' AS DateTime), 1, CAST(N'2018-07-12T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[LocationMaster] OFF
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([ID], [Title], [Description], [Image], [GenreId], [Director], [Writer], [Producer], [ReleaseDate], [Rating], [TrailerURI]) VALUES (1, N'Minions', N'Minions Stuart, Kevin and Bob are recruited by Scarlet Overkill, a super-villain who, alongside her inventor husband Herb, hatches a plot to take over the world.', N'minions.jpg', 1, N'Kyle Bald', N'Brian Lynch', N'Janet Healy', CAST(N'2015-07-10T00:00:00.000' AS DateTime), 3, N'https://www.youtube.com/watch?v=Wfql_DoHRKc')
INSERT [dbo].[Movie] ([ID], [Title], [Description], [Image], [GenreId], [Director], [Writer], [Producer], [ReleaseDate], [Rating], [TrailerURI]) VALUES (2, N'Ted 2', N'Newlywed couple Ted and Tami-Lynn want to have a baby, but in order to qualify to be a parent, Ted will have to prove he''s a person in a court of law.', N'ted2.jpg', 1, N'Seth MacFarlane', N'Seth MacFarlane', N'Jason Clark', CAST(N'2015-06-27T00:00:00.000' AS DateTime), 4, N'https://www.youtube.com/watch?v=S3AVcCggRnU')
INSERT [dbo].[Movie] ([ID], [Title], [Description], [Image], [GenreId], [Director], [Writer], [Producer], [ReleaseDate], [Rating], [TrailerURI]) VALUES (3, N'Trainwreck', N'Having thought that monogamy was never possible, a commitment-phobic career woman may have to face her fears when she meets a good guy.', N'trainwreck.jpg', 2, N'Judd Apatow', N'Amy Schumer', N'Judd Apatow', CAST(N'2015-07-17T00:00:00.000' AS DateTime), 5, N'https://www.youtube.com/watch?v=2MxnhBPoIx4')
SET IDENTITY_INSERT [dbo].[Movie] OFF
SET IDENTITY_INSERT [dbo].[PosMaster] ON 

INSERT [dbo].[PosMaster] ([Id], [Name], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'post', 1, 1, CAST(N'2018-07-10T00:00:00.000' AS DateTime), 1, CAST(N'2018-07-10T00:00:00.000' AS DateTime))
INSERT [dbo].[PosMaster] ([Id], [Name], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, N'postal ', 1, 1, CAST(N'2018-07-10T00:00:00.000' AS DateTime), 1, CAST(N'2018-07-10T00:00:00.000' AS DateTime))
INSERT [dbo].[PosMaster] ([Id], [Name], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, N'courier', 1, 1, CAST(N'2018-07-10T00:00:00.000' AS DateTime), 1, CAST(N'2018-07-10T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[PosMaster] OFF
SET IDENTITY_INSERT [dbo].[ProductCategoryMaster] ON 

INSERT [dbo].[ProductCategoryMaster] ([Id], [Name], [Description], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [Prod_Grp_Id]) VALUES (1, N'TVs', N'LED LED Display 4 GB Ram 2TB Hard Disk i5 Processor', 0, 1, CAST(N'2018-07-07T11:43:35.837' AS DateTime), 1, CAST(N'2018-07-07T11:43:35.837' AS DateTime), 2)
INSERT [dbo].[ProductCategoryMaster] ([Id], [Name], [Description], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [Prod_Grp_Id]) VALUES (2, N'Laptops', N'Lenovo LED Display 5 GB Ram 512GB Hard Disk i5 Processors', 1, 1, CAST(N'2018-07-07T12:37:44.317' AS DateTime), 1, CAST(N'2018-07-07T12:37:44.317' AS DateTime), 2)
INSERT [dbo].[ProductCategoryMaster] ([Id], [Name], [Description], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [Prod_Grp_Id]) VALUES (3, N'Cot', N'Bed', 1, 1, CAST(N'2018-07-07T17:20:33.077' AS DateTime), 1, CAST(N'2018-07-07T17:20:33.077' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[ProductCategoryMaster] OFF
SET IDENTITY_INSERT [dbo].[ProductGroupMaster] ON 

INSERT [dbo].[ProductGroupMaster] ([Id], [Name], [Description], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'electronics', N'Electronics launched an OLED TV in 2013 and 65-inch and 77-inch sizes in 2018', 1, 1, CAST(N'2018-07-07T15:08:03.773' AS DateTime), 1, CAST(N'2018-07-28T15:40:07.880' AS DateTime))
INSERT [dbo].[ProductGroupMaster] ([Id], [Name], [Description], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, N'Tv&applience', N'Electronics launched an OLED TV in 2013 and 65-inch and 77-inch sizes in 2018', 1, 1, CAST(N'2018-07-07T15:09:07.030' AS DateTime), 1, CAST(N'2018-07-07T15:09:07.030' AS DateTime))
INSERT [dbo].[ProductGroupMaster] ([Id], [Name], [Description], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, N'MobileElectronics', N'Electronics launched an resistances and diode and capacitors', 0, 1, CAST(N'2018-07-07T15:47:33.010' AS DateTime), 1, CAST(N'2018-07-07T15:47:33.010' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductGroupMaster] OFF
SET IDENTITY_INSERT [dbo].[ProductMaster] ON 

INSERT [dbo].[ProductMaster] ([Id], [Name], [Description], [ImageURI], [GRNCode], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [Prod_Cat_Id]) VALUES (1, N'abc', N' Citizen', N'abc', N'abcabcabc', 1, 1, CAST(N'2018-07-07T13:14:27.460' AS DateTime), 1, CAST(N'2018-07-28T18:31:41.843' AS DateTime), 2)
INSERT [dbo].[ProductMaster] ([Id], [Name], [Description], [ImageURI], [GRNCode], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [Prod_Cat_Id]) VALUES (2, N'abcdefg', N'Citizen', N'abcdef', N'abcabcabc', 1, 1, CAST(N'2018-07-07T17:52:22.547' AS DateTime), 1, CAST(N'2018-07-24T10:57:18.220' AS DateTime), 2)
INSERT [dbo].[ProductMaster] ([Id], [Name], [Description], [ImageURI], [GRNCode], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [Prod_Cat_Id]) VALUES (3, N'a', N'b', N'e', N'r', 1, 1, CAST(N'2018-07-07T20:09:14.487' AS DateTime), 1, CAST(N'2018-07-07T20:09:14.487' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[ProductMaster] OFF
SET IDENTITY_INSERT [dbo].[PurchaseDetailMaster] ON 

INSERT [dbo].[PurchaseDetailMaster] ([Id], [PurchaseId], [ProductId], [UomId], [Quantity], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, 1, 1, 1, N'60', 1, 1, CAST(N'2018-07-08T00:00:00.000' AS DateTime), 1, CAST(N'2018-07-28T15:02:35.257' AS DateTime))
INSERT [dbo].[PurchaseDetailMaster] ([Id], [PurchaseId], [ProductId], [UomId], [Quantity], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, 2, 2, 2, N'70', 1, 1, CAST(N'2018-07-08T00:00:00.000' AS DateTime), 1, CAST(N'2018-07-08T00:00:00.000' AS DateTime))
INSERT [dbo].[PurchaseDetailMaster] ([Id], [PurchaseId], [ProductId], [UomId], [Quantity], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, 3, 3, 3, N'80', 1, 1, CAST(N'2018-07-15T18:41:47.383' AS DateTime), 1, CAST(N'2018-07-28T06:37:38.400' AS DateTime))
SET IDENTITY_INSERT [dbo].[PurchaseDetailMaster] OFF
SET IDENTITY_INSERT [dbo].[PurchaseMaster] ON 

INSERT [dbo].[PurchaseMaster] ([Id], [PurchaseDate], [Status], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [Supplier_Id]) VALUES (1, CAST(N'2018-07-08T00:00:00.000' AS DateTime), 1, 1, 1, CAST(N'2018-07-08T00:00:00.000' AS DateTime), 1, CAST(N'2018-07-28T15:02:35.257' AS DateTime), 3)
INSERT [dbo].[PurchaseMaster] ([Id], [PurchaseDate], [Status], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [Supplier_Id]) VALUES (2, CAST(N'2018-07-08T00:00:00.000' AS DateTime), 2, 1, 1, CAST(N'2018-07-08T00:00:00.000' AS DateTime), 1, CAST(N'2018-07-08T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[PurchaseMaster] ([Id], [PurchaseDate], [Status], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [Supplier_Id]) VALUES (3, CAST(N'2018-07-02T18:30:00.000' AS DateTime), 3, 1, 1, CAST(N'2018-07-15T18:41:47.383' AS DateTime), 1, CAST(N'2018-07-28T06:37:38.400' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[PurchaseMaster] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [Name]) VALUES (1, N'Admin')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[SalesDetail] ON 

INSERT [dbo].[SalesDetail] ([Id], [SalesId], [Quantity], [ProductId], [UOMId], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, 1, N'50', 5, 2, 1, 1, CAST(N'2018-07-01T00:00:00.000' AS DateTime), 1, CAST(N'2018-07-28T12:21:55.790' AS DateTime))
INSERT [dbo].[SalesDetail] ([Id], [SalesId], [Quantity], [ProductId], [UOMId], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, 2, N'50', 2, 2, 1, 1, CAST(N'2018-07-12T00:00:00.000' AS DateTime), 1, CAST(N'2018-07-12T00:00:00.000' AS DateTime))
INSERT [dbo].[SalesDetail] ([Id], [SalesId], [Quantity], [ProductId], [UOMId], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, 3, N'100', 1, 3, 1, 1, CAST(N'2018-07-15T16:37:23.950' AS DateTime), 1, CAST(N'2018-07-28T06:38:58.627' AS DateTime))
SET IDENTITY_INSERT [dbo].[SalesDetail] OFF
SET IDENTITY_INSERT [dbo].[SalesMaster] ON 

INSERT [dbo].[SalesMaster] ([Id], [PosId], [UserId], [CustomerId], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [SalesDate]) VALUES (1, 2, 1, 3, 1, 1, CAST(N'2018-07-01T00:00:00.000' AS DateTime), 1, CAST(N'2018-07-28T12:21:55.790' AS DateTime), CAST(N'2018-07-01T00:00:00.000' AS DateTime))
INSERT [dbo].[SalesMaster] ([Id], [PosId], [UserId], [CustomerId], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [SalesDate]) VALUES (2, 2, 2, 2, 1, 1, CAST(N'2018-07-01T00:00:00.000' AS DateTime), 1, CAST(N'2018-07-01T00:00:00.000' AS DateTime), CAST(N'2018-07-01T00:00:00.000' AS DateTime))
INSERT [dbo].[SalesMaster] ([Id], [PosId], [UserId], [CustomerId], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [SalesDate]) VALUES (3, 2, 3, 1, 1, 1, CAST(N'2018-07-01T00:00:00.000' AS DateTime), 1, CAST(N'2018-07-28T06:38:58.627' AS DateTime), CAST(N'2018-06-26T18:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[SalesMaster] OFF
SET IDENTITY_INSERT [dbo].[Stock] ON 

INSERT [dbo].[Stock] ([ID], [MovieId], [UniqueKey], [IsAvailable]) VALUES (1, 1, N'8a0af1ef-12fe-4e64-9b40-6eab918e64b1', 1)
INSERT [dbo].[Stock] ([ID], [MovieId], [UniqueKey], [IsAvailable]) VALUES (2, 1, N'3914e9e1-578d-4367-ac05-caec77f9e3bc', 1)
INSERT [dbo].[Stock] ([ID], [MovieId], [UniqueKey], [IsAvailable]) VALUES (3, 1, N'77a29c83-79b7-4482-a514-58fd65f6b086', 1)
SET IDENTITY_INSERT [dbo].[Stock] OFF
SET IDENTITY_INSERT [dbo].[StoreMaster] ON 

INSERT [dbo].[StoreMaster] ([Id], [PurchaseDetailId], [LocationId], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, 1, 1, 1, 1, CAST(N'2018-07-08T00:00:00.000' AS DateTime), 1, CAST(N'2018-07-28T15:02:35.257' AS DateTime))
INSERT [dbo].[StoreMaster] ([Id], [PurchaseDetailId], [LocationId], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, 2, 2, 1, 1, CAST(N'2018-07-08T00:00:00.000' AS DateTime), 1, CAST(N'2018-07-08T00:00:00.000' AS DateTime))
INSERT [dbo].[StoreMaster] ([Id], [PurchaseDetailId], [LocationId], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, 3, 3, 1, 1, CAST(N'2018-07-15T18:41:47.383' AS DateTime), 1, CAST(N'2018-07-28T06:37:38.400' AS DateTime))
SET IDENTITY_INSERT [dbo].[StoreMaster] OFF
SET IDENTITY_INSERT [dbo].[StudentTest] ON 

INSERT [dbo].[StudentTest] ([Id], [Name], [EmailId], [PhoneNumber], [AlternatePhoneNumber], [Address], [IsActive]) VALUES (1, N'mani', N'mani@gmail.com', 987654345, 23456765434, N'sdfgh', 1)
INSERT [dbo].[StudentTest] ([Id], [Name], [EmailId], [PhoneNumber], [AlternatePhoneNumber], [Address], [IsActive]) VALUES (2, N'nani', N'nani@gmail.com', 876567677, 876543456567, N'iuytrt', 1)
INSERT [dbo].[StudentTest] ([Id], [Name], [EmailId], [PhoneNumber], [AlternatePhoneNumber], [Address], [IsActive]) VALUES (3, N'mmm', N'mani@gmail.com', 98765434567, 456789000987, N'hgh', 0)
SET IDENTITY_INSERT [dbo].[StudentTest] OFF
SET IDENTITY_INSERT [dbo].[SupplierMaster] ON 

INSERT [dbo].[SupplierMaster] ([Id], [Name], [Address], [EmailId], [PhoneNumber], [AlternatePhoneNumber], [FaxNumber], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [SupplierTypeId]) VALUES (1, N'yora', N'marathali', N'yora@gmail.com', 9638527891, 9637898521, 123, 1, 1, CAST(N'2018-07-07T22:53:02.123' AS DateTime), 1, CAST(N'2018-07-09T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[SupplierMaster] ([Id], [Name], [Address], [EmailId], [PhoneNumber], [AlternatePhoneNumber], [FaxNumber], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [SupplierTypeId]) VALUES (2, N'nari', N'pvpalem', N'nari@gmail.com', 8499096033, 849903214, 9876, 1, 1, CAST(N'2018-07-09T00:00:00.000' AS DateTime), 1, CAST(N'2018-07-09T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[SupplierMaster] ([Id], [Name], [Address], [EmailId], [PhoneNumber], [AlternatePhoneNumber], [FaxNumber], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [SupplierTypeId]) VALUES (3, N'Seshu', N'hyd', N'seshu@gmail.com', 863963789, 9637898521, 23, 1, 1, CAST(N'2018-07-09T00:00:00.000' AS DateTime), 1, CAST(N'2018-07-09T00:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[SupplierMaster] OFF
SET IDENTITY_INSERT [dbo].[SupplierTypeMaster] ON 

INSERT [dbo].[SupplierTypeMaster] ([Id], [Name], [Description], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'mobiles', N'4 gb rom', 1, 1, CAST(N'2018-07-08T16:17:06.507' AS DateTime), 1, CAST(N'2018-07-26T08:13:28.747' AS DateTime))
INSERT [dbo].[SupplierTypeMaster] ([Id], [Name], [Description], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, N'Electrical', N'capacitors', 1, 1, CAST(N'2018-07-08T16:17:33.853' AS DateTime), 1, CAST(N'2018-07-08T17:05:49.617' AS DateTime))
INSERT [dbo].[SupplierTypeMaster] ([Id], [Name], [Description], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, N'laptop', N'ram', 1, 1, CAST(N'2018-07-08T16:17:50.740' AS DateTime), 1, CAST(N'2018-07-08T16:17:50.740' AS DateTime))
SET IDENTITY_INSERT [dbo].[SupplierTypeMaster] OFF
SET IDENTITY_INSERT [dbo].[UnitOfMeasurementMaster] ON 

INSERT [dbo].[UnitOfMeasurementMaster] ([Id], [Name], [Description], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (1, N'kg', N'kilo', 1, 1, CAST(N'2018-07-06T00:00:00.000' AS DateTime), 1, CAST(N'2018-07-06T00:00:00.000' AS DateTime))
INSERT [dbo].[UnitOfMeasurementMaster] ([Id], [Name], [Description], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (2, N'Kg', N'Kilo', 1, 1, CAST(N'2018-07-06T00:00:00.000' AS DateTime), 1, CAST(N'2018-07-28T16:14:49.013' AS DateTime))
INSERT [dbo].[UnitOfMeasurementMaster] ([Id], [Name], [Description], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (3, N'L', N'liters', 1, 1, CAST(N'1900-01-02T00:00:00.000' AS DateTime), 1, CAST(N'2018-07-24T11:11:11.483' AS DateTime))
SET IDENTITY_INSERT [dbo].[UnitOfMeasurementMaster] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Username], [Email], [HashedPassword], [Salt], [IsLocked], [DateCreated]) VALUES (1, N'yora', N'yogeshrajput335@gmail.com', N'yQjLlM3Tl/ZpxT5cbMXvPmwRrI38N0cSCkVliozW7lc=', N'ayaZz0+4wYYk8/8ZeM76vA==', 0, CAST(N'2018-07-07T09:36:57.853' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserMaster] ON 

INSERT [dbo].[UserMaster] ([Id], [UserName], [Password], [FirstName], [LastName], [DateOfBrith], [FatherName], [MobileNumber], [Email]) VALUES (1, N'nari', N'1234', N'narendra', N'reddy', CAST(N'1996-07-06T00:00:00.000' AS DateTime), N'srinu', 9637898521, N'nari@gmail.com')
INSERT [dbo].[UserMaster] ([Id], [UserName], [Password], [FirstName], [LastName], [DateOfBrith], [FatherName], [MobileNumber], [Email]) VALUES (2, N'seshu', N'9876', N'seshu', N'bomminani', CAST(N'1994-07-07T00:00:00.000' AS DateTime), N'seshu', 9637898524, N'seshu@gmail.com')
SET IDENTITY_INSERT [dbo].[UserMaster] OFF
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([ID], [UserId], [RoleId]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[UserRole] OFF
SET IDENTITY_INSERT [dbo].[Watch] ON 

INSERT [dbo].[Watch] ([ID], [Price], [Brand]) VALUES (4, 0, N'Seiko Bulova')
INSERT [dbo].[Watch] ([ID], [Price], [Brand]) VALUES (5, 2500, N' Casio')
INSERT [dbo].[Watch] ([ID], [Price], [Brand]) VALUES (6, 2000, N'fossil')
SET IDENTITY_INSERT [dbo].[Watch] OFF
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Movie_dbo.Genre_GenreId] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genre] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movie] CHECK CONSTRAINT [FK_dbo.Movie_dbo.Genre_GenreId]
GO
ALTER TABLE [dbo].[Rental]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rental_dbo.Stock_StockId] FOREIGN KEY([StockId])
REFERENCES [dbo].[Stock] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rental] CHECK CONSTRAINT [FK_dbo.Rental_dbo.Stock_StockId]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Stock_dbo.Movie_MovieId] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_dbo.Stock_dbo.Movie_MovieId]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRole_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_dbo.UserRole_dbo.Role_RoleId]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRole_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_dbo.UserRole_dbo.User_UserId]
GO
/****** Object:  StoredProcedure [dbo].[GetAllSales]    Script Date: 7/29/2018 10:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetAllSales]
as
begin
select sa.Id,sa.IsActive,sa.CreatedBy,sa.CreatedDate,sa.ModifiedBy,sa.ModifiedDate,
post.Name as PosName,post.Id as PosId from SalesMaster sa
inner join PosMaster post
on post.Id = sa.PosId
where sa.IsActive = 1 and post.IsActive=1

end
GO
/****** Object:  StoredProcedure [dbo].[Usp_CreateProductGroup]    Script Date: 7/29/2018 10:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Usp_CreateProductGroup](
@Id int,
@Name varchar(200),
@Description varchar(500),
@IsActive bit,
@CreatedBy int,
@CreatedDate datetime,
@ModifiedBy int,
@ModifiedDate datetime
)
As
Begin
	Insert Into ProductGroupMaster(Name,Description,IsActive,CreatedBy,CreatedDate,ModifiedBy,ModifiedDate)
	values(@Name,@Description,@IsActive,@CreatedBy,@CreatedDate,@ModifiedBy,@ModifiedDate)
	select @@IDENTITY as Id
End
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetAllProductCategory]    Script Date: 7/29/2018 10:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetAllProductCategory]
As
Begin

select pcm.Id,pcm.Name,pcm.Description,pcm.IsActive,pcm.CreatedBy,pcm.CreatedDate,
pcm.ModifiedBy,pcm.ModifiedDate,pgm.Name as ProductGroupName,pgm.Id as Prod_Grp_Id from ProductCategoryMaster pcm 
inner join ProductGroupMaster pgm 
on pgm.Id = pcm.Prod_Grp_Id
where pcm.IsActive = 1

End

select * from [dbo].[ProductGroupMaster]

select * from ProductCategoryMaster


GO
/****** Object:  StoredProcedure [dbo].[Usp_GetAllProducts]    Script Date: 7/29/2018 10:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc [dbo].[Usp_GetAllProducts]
As
Begin
	select p.Id,p.Name,p.Description,p.ImageURI,p.GRNCode,p.IsActive,p.CreatedBy,p.CreatedDate,p.ModifiedBy,p.ModifiedDate,
	pc.Name as ProductCategoryName from ProductMaster p 
	inner join ProductCategoryMaster pc on p.Prod_Cat_Id = pc.Id
	where p.IsActive=1
End
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetAllPurchase]    Script Date: 7/29/2018 10:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetAllPurchase]
As
Begin
 select p.Id,p.PurchaseDate,p.Status,p.IsActive,p.CreatedBy,p.CreatedDate,p.ModifiedBy,p.ModifiedDate,
 sp.Name as SupplierName ,sp.Id as Supplier_Id from PurchaseMaster p 
 inner join SupplierMaster sp on  sp.Id =p.Supplier_Id
 where p.IsActive=1 and sp.IsActive=1
End
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetAllSupplier]    Script Date: 7/29/2018 10:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetAllSupplier]
as
begin
 select sm.Id,sm.Name,sm.Address,sm.EmailId,sm.PhoneNumber,sm.AlternatePhoneNumber,sm.FaxNumber,
 sm.IsActive,sm.CreatedBy,sm.CreatedDate,sm.ModifiedBy,sm.ModifiedDate,
 stm.Name as SupplierName,sm.SupplierTypeId from SupplierMaster sm
 inner join SupplierTypeMaster stm
 on sm.SupplierTypeId = stm.Id
  where sm.IsActive = 1 and stm.IsActive = 1
end
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetProductGroup]    Script Date: 7/29/2018 10:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Usp_GetProductGroup]
As
Begin
select pg.Name,pg.Id,pg.Description,pg.CreatedDate,pg.IsActive,pg.ModifiedDate,pg.ModifiedBy,pg.CreatedBy,
u.Username,u.Email from ProductGroupMaster pg
inner join [dbo].[User] u on pg.CreatedBy = u.ID 
End
GO
/****** Object:  StoredProcedure [dbo].[USP_PurchaseFormPopulate]    Script Date: 7/29/2018 10:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_PurchaseFormPopulate]
as 
begin

select loc.Name as LocationName,loc.Id as LocationId

from LocationMaster loc

where loc.IsActive=1


select sup.Id as SupplierId,sup.Name as SupplierName from SupplierMaster sup

where sup.IsActive = 1 


select uom.Name as UOMName,uom.Id as UOMId from UnitOfMeasurementMaster uom

where uom.IsActive=1



select pm.Name as ProductName, pm.Id as ProductId from ProductMaster pm 

where  pm.IsActive=1


 

end 
GO
/****** Object:  StoredProcedure [dbo].[USP_PurchaseFormSave]    Script Date: 7/29/2018 10:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_PurchaseFormSave]
(
@PurchaseDate dateTime,
@Status int,
@IsActive int,
@CreatedBy int,
@CreatedDate dateTime,
@ModifiedBy int,
@ModifiedDate dateTime,
@Supplier_Id int,
@ProductId int ,
@UomId int,
@Quantity nvarchar(200),
@LocationId int
)
as
begin
 insert into PurchaseMaster(PurchaseDate,Status,IsActive,CreatedBy,CreatedDate,ModifiedBy,ModifiedDate,Supplier_Id)
 values(@PurchaseDate,@Status,@IsActive,@CreatedBy,@CreatedDate,@ModifiedBy,@ModifiedDate,@Supplier_Id)


 declare @purchaseId int;
 SELECT @purchaseId = SCOPE_IDENTITY();

 INSERT INTO  PurchaseDetailMaster(purchaseId, ProductId,UomId,Quantity,IsActive,CreatedBy,CreatedDate,ModifiedBy,ModifiedDate)
 VALUES (@purchaseId, @ProductId,@UomId,@Quantity,1,@CreatedBy,@CreatedDate,@ModifiedBy,@ModifiedDate);



 declare @PurchaseDetailId int;
 SELECT @PurchaseDetailId= SCOPE_IDENTITY();

 insert into StoreMaster(PurchaseDetailId,LocationId,IsActive,CreatedBy,CreatedDate,ModifiedBy,ModifiedDate)
 values (@PurchaseDetailId,@LocationId,@IsActive,@CreatedBy,@CreatedDate,@ModifiedBy,@ModifiedDate)

end
GO
/****** Object:  StoredProcedure [dbo].[USP_PurchaseGraphicReport]    Script Date: 7/29/2018 10:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_PurchaseGraphicReport]
(
@UOMName varchar(200)
)
as
begin
select PM1.Name  ProductName,SM.Name  SupplierName,PDM.Quantity,UOM.Name UOMName,
LM.Name LocationName,PM.PurchaseDate from PurchaseMaster PM
Inner Join SupplierMaster SM on PM.Supplier_Id= SM.Id
Inner Join PurchaseDetailMaster PDM on PDM.PurchaseId= PM.Id
Inner Join ProductMaster PM1 on PM1.Id= PDM.ProductId
Inner Join UnitOfMeasurementMaster UOM on UOM.Id=PDM.UomId
Inner Join StoreMaster SM1 on SM1.PurchaseDetailId=PDM.Id
Inner Join LocationMaster LM on LM.Id=SM1.LocationId
where UOM.Name ='Kg'
--where PM1.IsActive=1 and SM.IsActive=1 and PDM.IsActive=1 and UOM.IsActive=1 and LM.IsActive=1 and PM.IsActive=1
end
GO
/****** Object:  StoredProcedure [dbo].[USP_PurchaseReport]    Script Date: 7/29/2018 10:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_PurchaseReport]
as
begin

select PDM.Id, PM1.Id as productId,PM1.Name ProductName,SM.Id as SupplierId, SM.Name SupplierName,PDM.Quantity,UOM.Id as UOMId,UOM.Name UOMName,LM.Id as LocationId,LM.Name LocationName,PM.PurchaseDate from PurchaseMaster PM
Inner Join SupplierMaster SM on PM.Supplier_Id= SM.Id
Inner Join PurchaseDetailMaster PDM on PDM.PurchaseId= PM.Id
Inner Join ProductMaster PM1 on PM1.Id= PDM.ProductId
Inner Join UnitOfMeasurementMaster UOM on UOM.Id=PDM.UomId
Inner Join StoreMaster SM1 on SM1.PurchaseDetailId=PDM.Id
Inner Join LocationMaster LM on LM.Id=SM1.LocationId
where PM1.IsActive=1 and SM.IsActive=1 and PDM.IsActive=1 and UOM.IsActive=1 and LM.IsActive=1 and PM.IsActive=1

end
GO
/****** Object:  StoredProcedure [dbo].[USP_PurchaseReportUpdate]    Script Date: 7/29/2018 10:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[USP_PurchaseReportUpdate]
(
@Id int ,
@Supplier_Id int,
@ProductId int ,
@UomId int,
@LocationId int,
@Quantity nvarchar(200),
@ModifiedBy int,
@ModifiedDate dateTime,
@PurchaseDate dateTime
)
as
begin

 update PurchaseMaster 
 set 
    Supplier_Id = @Supplier_Id,
	ModifiedBy  = @ModifiedBy,
	ModifiedDate = @ModifiedDate,
	 PurchaseDate = @PurchaseDate
	where Id = @Id

 update PurchaseDetailMaster
 set 

 ProductId =@ProductId,
 UomId    = @UomId, 
 Quantity = @Quantity,
 ModifiedBy =@ModifiedBy,
 ModifiedDate=@ModifiedDate
 where PurchaseId = @Id

 update StoreMaster
 set 
     LocationId   = @LocationId,
	 ModifiedBy =@ModifiedBy,
	 ModifiedDate =@ModifiedDate
   where PurchaseDetailId = @Id
end

GO
/****** Object:  StoredProcedure [dbo].[USP_SalesFormPopulate]    Script Date: 7/29/2018 10:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_SalesFormPopulate]  
as  
begin  
  
select post.Name as PosName,post.Id as PosId 
  
from  PosMaster post where post.IsActive=1  
  
select cm.Name as CustName, cm.Id as CustomerId from CustomerMaster cm  
  
where  cm.IsActive=1  
  
select uom.Name as UOMName,uom.Id as UOMId from UnitOfMeasurementMaster uom
  
where uom.IsActive=1 
  
  
select pm.Name as ProductName, pm.Id as ProductId from ProductMaster pm   
  
where pm.IsActive=1 

  

  
end
GO
/****** Object:  StoredProcedure [dbo].[USP_SalesFormSave]    Script Date: 7/29/2018 10:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_SalesFormSave]
(   @PosId int,
    @CustomerId int,
	@ProductId int,
	@UOMId int,
	@Quantity nvarchar(200),
	@SalesDate datetime,
	@IsActive bit,
	@CreatedBy int,
	@CreatedDate datetime,
	@ModifiedBy int,
	@ModifiedDate datetime)

	As
	Begin

		Insert into SalesMaster(IsActive,CreatedBy,CreatedDate,ModifiedBy,ModifiedDate,SalesDate,PosId,CustomerId)
		values(@IsActive,@CreatedBy,@CreatedDate,@ModifiedBy,@ModifiedDate,@SalesDate,@PosId, @CustomerId)

	    declare @SalesId int;
        SELECT @SalesId = SCOPE_IDENTITY();

		 INSERT INTO  SalesDetail(SalesId, ProductId,UOMId,Quantity,IsActive,CreatedBy,CreatedDate,ModifiedBy,ModifiedDate)
       VALUES (@SalesId, @ProductId,@UOMId,@Quantity,1,@CreatedBy,@CreatedDate,@ModifiedBy,@ModifiedDate);

	End
GO
/****** Object:  StoredProcedure [dbo].[USP_SalesGraphicsReports]    Script Date: 7/29/2018 10:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_SalesGraphicsReports](
@UOMName varchar(20)
)

As
Begin

Select pm.Name ProductName,cm.Name CustomerName,uom.Name UOMName,p.Name POSName,sd.Quantity,sm.SalesDate from SalesMaster sm

inner join SalesDetail sd on sd.SalesId = sm.Id

inner join CustomerMaster cm on cm.Id = sm.CustomerId

inner join ProductMaster pm on pm.Id = sm.PosId

inner join UnitOfMeasurementMaster uom on uom.Id = sd.UOMId

inner join PosMaster p on p.Id = sm.PosId

where uom.Name ='kg'

End

GO
/****** Object:  StoredProcedure [dbo].[USP_SalesMaster]    Script Date: 7/29/2018 10:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_SalesMaster]
As
Begin

select pm.Name as ProductName, pm.Id as ProductId from SalesMaster sm 

inner join SalesDetail sd  on sd.SalesId = sm.Id

inner join ProductMaster pm on pm.Id = sd.ProductId

where sd.IsActive = 1 and pm.IsActive=1 and sm.IsActive = 1

 

End
GO
/****** Object:  StoredProcedure [dbo].[USP_SalesReports]    Script Date: 7/29/2018 10:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_SalesReports]

As
Begin
Select sd.Id,pm.Id as ProductId,pm.Name ProductName,cm.Id as CustomerId,cm.Name CustomerName,uom.Id as UOMId ,uom.Name UOMName,p.Id as POSId,p.Name POSName,sd.Quantity,sm.SalesDate from SalesMaster sm

inner join SalesDetail sd on sd.SalesId = sm.Id 

inner join CustomerMaster cm on cm.Id = sm.CustomerId

inner join ProductMaster pm on pm.Id = sm.PosId

inner join UnitOfMeasurementMaster uom on uom.Id = sd.UOMId

inner join PosMaster p on p.Id = sm.PosId

where sd.IsActive = 1 and sm.IsActive = 1 and cm.IsActive = 1 and pm.IsActive = 1 and uom.IsActive = 1 and p.IsActive = 1
End

GO
/****** Object:  StoredProcedure [dbo].[Usp_UpdateSaleReport]    Script Date: 7/29/2018 10:40:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Usp_UpdateSaleReport](
	@Id int,
    @PosId int,
    @CustomerId int,
	@ProductId int,
	@UOMId int,
	@Quantity nvarchar(200),
	@SalesDate datetime,
	@ModifiedBy int,
	@ModifiedDate datetime)
	As
	Begin

	update SalesMaster set
	PosId = @PosId,
	CustomerId = @CustomerId,
	ModifiedBy = @ModifiedBy,
	ModifiedDate = @ModifiedDate,
	SalesDate = @SalesDate
	 where Id = @Id

	 update SalesDetail set 
	 Quantity = @Quantity,
	 ProductId = @ProductId,
	 UOMId = @UOMId,
	 ModifiedBy = @ModifiedBy,
	 ModifiedDate = @ModifiedDate

	 where SalesId = @Id

	 


	End

GO
