
<div class="panel panel-primary">

    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-xs-8 selectContainer">
                    <label class="control-label">Name</label>
                    <input type="text" placeholder="Name" ng-model="modelObj.Name" /><br />
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-8">
                    <label class="control-label">Description</label>
                    <input type="text" placeholder="Description" ng-model="modelObj.Description" /><br />
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-left">
            <button type="button" class="btn btn-danger" ng-click="cancelEdit()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="Updateproduct()" ng-if="ModelType=='Edit'">Update</button>
            <button type="button" class="btn btn-primary" ng-click="SaveProduct(modelObj)" ng-if="ModelType=='Add'">Save</button>
        </div>
    </div>
</div>