<div class="panel panel-primary" style="width:500px">
    <div class="panel-heading " ng-if="ModelType=='Edit'">
        Update {{modelObj.Name}}
    </div>
    <div class="panel-heading " ng-if="ModelType=='Add'">
        Added {{modelObj.Name}}
    </div>
    <div class="panel-body">
        <form role="form" style="width:434px;">
            <div class="">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="control-label" for="Name">Name</label>
                            <input type="text" placeholder="Brand" class="form-control form-control-small ng-valid-maxlength ng-touched" ng-model="modelObj.Name" />
                        </div>

                        <div class="col-sm-6 selectContainer">
                            <label class="control-label" for="Description">Description</label>
                            <textarea placeholder="Description" class="form-control form-control-small ng-valid-maxlength ng-touched" ng-model="modelObj.Description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="text-center">
                                <img ng-src="../../Content/images/movies/unknown.jpg" class="avatar img-responsive">
                                <h6>Add photo...</h6>

                                <!--<input type="file" ng-file-select="prepareFiles($files)">-->
                                <input type="file" id="file" name="file" />
                            </div>
                        </div>
                        <div class="col-xs-6 selectContainer">
                            <label class="control-label" form="GRNCode">GRNCode</label>
                            <input type="text" placeholder="GRNCode" class="form-control form-control-small ng-valid-maxlength ng-touched" ng-model="modelObj.GRNCode" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <label class="control-label" form="Name">Product Category</label>
                            <select type="text" placeholder="Name" class="form-control form-control-small ng-valid-maxlength ng-touched" ng-model="selectedObj" data-ng-options='pa.Name for pa in ProductArry' ng-change="fetchProduct(selectedObj);">
                                <option value="" disabled>Select A Catagory</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer clearfix">

        <div class="pull-right">
            <button type="button" class="btn btn-danger" ng-click="cancelEdit()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="UpdateProduct()" ng-if="ModelType=='Edit'">Update</button>
            <button type="button" class="btn btn-primary" ng-click="SaveProduct()" ng-if="ModelType=='Add'">Save</button>
        </div>
    </div>
</div>
