<div class="jumbotron">
    <div class="container text-center">
        <img alt="{{product.Title}}" ng-src="../../../Content/images/movies/{{movie.Image}}" class="pull-left" height="120" />  
        <br />
        <div class="btn-group">
            <button style="margin-left:400%;width:100%;" type="button" ng-click="AddProduct();" class="btn btn-sm btn-primary">Add Product<i class="fa fa-plus pull-right"></i></button>
        </div> 
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Home Product</h4>
            <div class="input-group">
                <input id="inputSearchMovies" type="search" ng-model="filterProduct" class="form-control shortInputSearch" placeholder="Filter, search Products..">
                <div class="input-group-btn">
                    <button class="btn btn-primary" ng-click="search();"><i class="glyphicon glyphicon-search"></i></button>
                    <button class="btn btn-primary" ng-click="clearSearch();"><i class="glyphicon glyphicon-remove-sign"></i></button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive" ng-if="!loadingProduct">
                <table class="table table-bordered">
                    <thead>
                        <tr>      
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>ImageURI</th>
                            <th>GRNCode</th>
                            <th>IsActive</th>
                            <th>CreatedBy</th>
                            <th>CreatedDate</th>
                            <th>ModifiedBy</th>
                            <th>ModifiedDate</th>
                            <th>ProductCategoryName</th>
                            <th>Action</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in products  | filter:filterProduct">  
                            <td>{{product.Id}}</td>
                            <td>{{product.Name}}</td>
                            <td>{{product.Description}}</td>
                            <td>{{product.ImageURI}}</td>
                            <td>{{product.GRNCode}}</td>
                            <td>{{product.IsActive}}</td>
                            <td>{{product.CreatedBy}}</td>
                            <td>{{product.CreatedDate}}</td>
                            <td>{{product.ModifiedBy}}</td>
                            <td>{{product.ModifiedDate}}</td>
                            <td>{{product.ProductCategoryName}}</td>
                            <td class="col-sm-2">
                                <button ng-click="openProductDialogContainer(product);" type="button" class="btn btn-primary btn-xs">Edit</button>
                                <button ng-click="removeproduct(product.Id);" type="button" class="btn btn-primary btn-xs">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
