<div class="jumbotron" style="padding-bottom: 400px;">
    <div class="container text-center">
        <img alt="{{movie.Title}}" ng-src="../../../Content/images/movies/{{movie.Image}}" class="pull-left" height="150" />
        <!--<div class="movieDescription"><i><i class="fa fa-quote-left"></i>{{movie.Description}}</i></div>-->
        <br />
        <div class="btn-group">
            <!--<button style="margin-left:200%;width:100%;" type="button" ng-click="AddUnitOfMeasurement();" class="btn btn-sm btn-primary">Add UnitOfMeasurement<i class="fa fa-plus pull-right"></i></button>-->
            <!-- <a href="#/movies/edit/{{movie.ID}}" class="btn btn-sm btn-default">Add Watches<i class="fa fa-pencil-square-o pull-right"></i></a>-->
        </div> <!-- end btn-group -->
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Home UnitOfMeasurement</h4>
            <div class="input-group">
                <input id="inputSearchMovies" type="search" ng-model="filterunitofmeasurement" class="form-control shortInputSearch" placeholder="Filter, search unitofmeasurement..">
                <div class="input-group-btn">
                    <button class="btn btn-primary" ng-click="search();"><i class="glyphicon glyphicon-search"></i></button>
                    <button class="btn btn-primary" ng-click="clearSearch();"><i class="glyphicon glyphicon-remove-sign"></i></button>
                    <button class="btn btn-primary" ng-click="AddUnitOfMeasurement();"><i class="fa "></i>Add New </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive" ng-if="!loadingunitofmeasurement">
                <table class="table table-bordered">
                    <thead>
                        <tr>

                            <th>Name</th>
                            <th>Description</th>
                            <!--<th>IsActive</th>
                            <th>CreatedBy</th>
                            <th>CreatedDate</th>
                            <th>ModifiedBy</th>
                            <th>ModifiedDate</th>-->
                            <th> Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="unitofmeasurement in unitofmeasurements | filter:filterunitofmeasurement">


                            <td>{{unitofmeasurement.Name}}</td>
                            <td>{{unitofmeasurement.Description}}</td>                        
                            <!--<td>{{unitofmeasurement.IsActive}}</td>
                            <td>{{unitofmeasurement.CreatedBy}}</td>
                            <td>{{unitofmeasurement.CreatedDate}}</td>
                            <td>{{unitofmeasurement.ModifiedBy}}</td>
                            <td>{{unitofmeasurement.ModifiedDate}}</td>-->

                            <td class="col-sm-2">
                                <button ng-click="openRentDialogContainer(unitofmeasurement);" type="button" class="btn btn-primary btn-xs">Edit</button>
                                <button ng-click="removeunitofmeasurement(unitofmeasurement.Id);" type="button" class="btn btn-primary btn-xs">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- end container -->
</div>
