<div class="jumbotron" style="padding-bottom: 400px;">
    <div class="container text-center">
        <img alt="{{movie.Title}}" ng-src="../../../Content/images/movies/{{movie.Image}}" class="pull-left" height="150" />
        <!--<div class="movieDescription"><i><i class="fa fa-quote-left"></i>{{movie.Description}}</i></div>-->
        <br />
        <div class="btn-group">
            <!--<button style="margin-left:400%;width:100%;" type="button" ng-click="AddStoreMaster();" class="btn btn-sm btn-primary">Add StoreMaster<i class="fa fa-plus pull-right"></i></button>-->
            <!-- <a href="#/movies/edit/{{movie.ID}}" class="btn btn-sm btn-default">Add Watches<i class="fa fa-pencil-square-o pull-right"></i></a>-->
        </div> <!-- end btn-group -->
    </div>

    <div class="panel panel-primary" style="opacity: 0.9;">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">StoreMaster</h4>
            <div class="input-group">
                <input id="inputSearchMovies" type="search" ng-model="filterStoreMaster" class="form-control shortInputSearch" placeholder="Filter, search StoreMaster..">
                <div class="input-group-btn">
                    <button class="btn btn-primary" ng-click="search();"><i class="glyphicon glyphicon-search"></i></button>
                    <button class="btn btn-primary" ng-click="clearSearch();"><i class="glyphicon glyphicon-remove-sign"></i></button>

                    <button class="btn btn-primary" ng-click="AddStoreMaster();"><i class="fa "></i>Add New </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive" ng-show="storemasters.length > 0">
                <div class="table-responsive" ng-if="!loadingStoreMaster">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <!-- <th>Id</th>-->
                                <th>Name</th>
                                <th> Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="storemaster in storemasters | filter:filterStoreMaster">


                                <!--<td>{{storemaster.Id}}</td>-->
                                <td>{{storemaster.Name}}</td>


                                <td class="col-sm-2">
                                    <button ng-click="openStoreMasterContainer(storemaster);" type="button" class="btn btn-primary btn-xs">Edit</button>
                                    <button ng-click="removestoremaster(storemaster.Id);" type="button" class="btn btn-primary btn-xs">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" ng-hide="storemasters.length > 0">
            <h4 class="col-xs-pull-6" style="color:black"><span> </span> There Is No stores To Show Please Add one !</h4>
        </div>
    </div>

    <!-- end container -->
</div>
