<div class="jumbotron" style="padding-bottom: 400px;">
    <div class="container text-center" style="padding-bottom: -10%;">
        <img alt="{{movie.Title}}" ng-src="../../../Content/images/movies/{{movie.Image}}" class="pull-left" height="150" />
        <!--<div class="movieDescription"><i><i class="fa fa-quote-left"></i>{{movie.Description}}</i></div>-->
        <br />
        <div class="btn-group">
            <!--<button style="margin-left:200%;width:100%;" type="button" ng-click="AddProductGroup();" class="btn btn-sm btn-primary">Add productGroup <i class="fa fa-plus pull-right"></i></button>-->
           
        </div> <!-- end btn-group -->
    </div>

    <div class="panel panel-primary" style="opacity: 0.9;">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Home ProductGroups</h4>
            <div class="input-group">
                <input id="inputSearchMovies" type="search" ng-model="filterProductGroup" class="form-control shortInputSearch" placeholder="Filter, search ProductGroup..">
                <div class="input-group-btn">
                    <button class="btn btn-primary" ng-click="search();"><i class="glyphicon glyphicon-search"></i></button>
                    <button class="btn btn-primary" ng-click="clearSearch();"><i class="glyphicon glyphicon-remove-sign"></i></button>
                    <button class="btn btn-primary" ng-click="AddProductGroup();"><i class="fa "></i>Add New</button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive" ng-show="ProductGroups.length > 0">
                <div class="table-responsive" ng-if="!loadingproductgroups">
                    <table class="table table-bordered">
                        <thead>
                            <tr>

                                <!--<th>Id</th>-->
                                <th>Name</th>
                                <th>Description</th>
                                <!--<th>IsActive</th>
                            <th>CreatedBy</th>
                            <th>CreatedDate</th>
                            <th>ModifiedBy</th>
                            <th>ModifiedDate</th>-->
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ProductGroup in ProductGroups | filter:filterProductGroup">

                                <!--<td>{{ProductGroup.Id}}</td>-->
                                <td>{{ProductGroup.Name}}</td>
                                <td>{{ProductGroup.Description}}</td>
                                <!--<td>{{ProductGroup.IsActive}}</td>
                            <td>{{ProductGroup.CreatedBy}}</td>
                            <td>{{ProductGroup.CreatedDate}}</td>
                            <td>{{ProductGroup.ModifiedBy}}</td>
                            <td>{{ProductGroup.ModifiedDate}}</td>-->

                                <td class="col-sm-2">
                                 
                                    <button ng-click="openProductGroupDialogContainer(ProductGroup);" type="button" class="btn btn-sm btn-primary">Edit</button>
                                    <button ng-click="removeProductGroup(ProductGroup.Id);" type="button" class="btn btn-sm btn-primary">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" ng-hide="ProductGroups.length > 0">
            <h4 class="col-xs-pull-6" style="color:black"><span> </span> There Is No Products To Show Please Add one !</h4>
        </div>
        <div class="panel-footer">
            <div class="text-center">
                <custom-pager page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)"></custom-pager>
            </div>
        </div>
    </div>
</div>

