<div class="panel panel-primary">
    <div class="panel-heading" ng-if="ModelType=='update'">
        Supplier {{modelObj.Name}}
    </div>
    <div class="panel-heading" ng-if="ModelType=='add'">
        Supplier {{modelObj.Name}}
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-xs-8 selectContainer">
                    <label class="control-label">Name</label>
                    <input type="text" placeholder="Name" ng-model="modelObj.Name" /><br />
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-8">
                    <label class="control-label">Address</label>
                    <input type="text" placeholder="Address" ng-model="modelObj.Address" /><br />
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-8">
                    <label class="control-label">EmailId</label>
                    <input type="text" placeholder="EmailId" ng-model="modelObj.EmailId" /><br />
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-8">
                    <label class="control-label">Phone Number</label>
                    <input type="text" placeholder="PhoneNumber" ng-model="modelObj.PhoneNumber" /><br />
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-8">
                    <label class="control-label">Alternate Phone Number</label>
                    <input type="text" placeholder="AlternatePhoneNumber" ng-model="modelObj.AlternatePhoneNumber" /><br />
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-8">
                    <label class="control-label">Fax Number</label>
                    <input type="text" placeholder="FaxNumber" ng-model="modelObj.FaxNumber" /><br />
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-8 selectContainer">
                    <label class="control-label">Supplier Type</label>
                    <select type="text" placeholder="Name" ng-model="selectedObj" data-ng-options='pa.Name for pa in SupplierArry' ng-change="fetchSupplier(selectedObj);">
                        <option value="" disabled>Select A Group</option>
                    </select>
                </div>
            </div>

            <!--<div class="form-group">
                <div class="col-xs-8">
                    <label class="control-label">FaxNumber</label>
                    <input type="text" placeholder="PhoneNumber" ng-model="modelObj.PhoneNumber" /><br />
                </div>
            </div>-->

        </form>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-left">
            <button type="button" class="btn btn-danger" ng-click="cancelEdit()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="UpdateSupplier(modelObj)" ng-if="ModelType=='Edit'">Update</button>
            <button type="button" class="btn btn-primary" ng-click="SaveSupplier(modelObj)" ng-if="ModelType=='Add'">Save</button>
        </div>
    </div>
</div>