<div class="jumbotron" style="padding-bottom: 400px;">
    <div class="container text-center">
        <img alt="{{movie.Title}}" ng-src="../../../Content/images/movies/{{movie.Image}}" class="pull-left" height="150" />
        <!--<div class="movieDescription"><i><i class="fa fa-quote-left"></i>{{movie.Description}}</i></div>-->
        <br />
        <div class="btn-group">
            <!--<button style="margin-left:400%;width:100%;" type="button" ng-click="AddSupplier();" class="btn btn-sm btn-primary">Add Supplier<i class="fa fa-plus pull-right"></i></button>-->
            <!-- <a href="#/movies/edit/{{movie.ID}}" class="btn btn-sm btn-default">Add Watches<i class="fa fa-pencil-square-o pull-right"></i></a>-->
        </div> <!-- end btn-group -->
    </div>

    <div class="panel panel-primary" style="opacity: 0.9;">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Home Supplier</h4>
            <div class="input-group">
                <input id="inputSearchMovies" type="search" ng-model="filtersuppliermaster" class="form-control shortInputSearch" placeholder="Filter, search suppliermaster..">
                <div class="input-group-btn">
                    <button class="btn btn-primary" ng-click="search();"><i class="glyphicon glyphicon-search"></i></button>
                    <button class="btn btn-primary" ng-click="clearSearch();"><i class="glyphicon glyphicon-remove-sign"></i></button>
                    <button class="btn btn-primary" ng-click="AddSupplier();"><i class="fa "></i>Add New </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive" ng-show="suppliers.length > 0">
                <div class="table-responsive" ng-if="!loadingsuppliers">
                    <table class="table table-bordered">
                        <thead>
                            <tr>

                                <th>Name</th>
                                <th>Address</th>
                                <th>EmailId</th>
                                <th>Phone Number</th>
                                <th>Alternate Phone Number</th>
                                <th>FaxNumber</th>
                                <th>SupplierName</th>
                                <!--<th>IsActive</th>
                            <th>CreatedBy</th>
                            <th>CreatedDate</th>
                            <th>ModifiedBy</th>
                            <th>ModifiedDate</th>-->
                                <th> Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="supplier in filteredSupplierData | filter:filtersuppliermaster">
                                <td>{{supplier.Name}}</td>
                                <td>{{supplier.Address}}</td>
                                <td>{{supplier.EmailId}}</td>
                                <td>{{supplier.PhoneNumber}}</td>
                                <td>{{supplier.AlternatePhoneNumber}}</td>
                                <td>{{supplier.FaxNumber}}</td>
                                <td>{{supplier.SupplierName}}</td>
                                <td class="col-sm-2">
                                    <button ng-click="openRentDialogContainer(supplier);" type="button" class="btn btn-primary btn-xs">Edit</button>
                                    <button ng-click="removesupplier(supplier.Id);" type="button" class="btn btn-primary btn-xs">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" ng-hide="suppliers.length > 0">
            <h4 class="col-xs-pull-6" style="color:black;text-align:center"><span> </span> There Is No Supplier To Show Please Add one !</h4>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-4 pull-left">
                    <div class="dataTables_length" id="datatable_length">
                        <label>
                            show
                            <select name="datatable_length"
                                    aria-controls="datatable"
                                    class="form-control input-sm"
                                    data-ng-model="numPerPage"
                                    data-ng-options="x for x in showPerPageDataOptions"></select>
                            entries
                        </label>
                    </div>
                </div>

                &nbsp;&nbsp;&nbsp;
                <div class="col-sm-8 pull-right">
                    <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">
                        showing {{currentPage*numPerPage - numPerPage  + 1}} to {{suppliers.length > currentPage*numPerPage ? currentPage*numPerPage : suppliers.length}} of {{suppliers.length}} entries
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6 pull-right">
                    <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                        <pagination ng-model="currentPage"
                                    total-items="suppliers.length"
                                    max-size="maxSize"
                                    boundary-links="true"
                                    items-per-page="numPerPage">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end container -->
</div>
