<div class="jumbotron">
    <div class="container text-center">
        <img alt="{{movie.Title}}" ng-src="../../../Content/images/movies/{{movie.Image}}" class="pull-left" height="150" />
        <!--<div class="movieDescription"><i><i class="fa fa-quote-left"></i>{{movie.Description}}</i></div>-->
        <br />
        <div class="btn-group">
            <!--<button style="margin-left:200%;width:100%;" type="button" ng-click="AddLocation();" class="btn btn-sm btn-primary">Add New Loacton <i class="fa fa-plus pull-right"></i></button>-->

        </div> <!-- end btn-group -->
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Home Locatons</h4>
            <div class="input-group">
                <input id="inputSearchMovies" type="search" ng-model="filterLocation" class="form-control shortInputSearch" placeholder="Filter, search Locatons..">
                <div class="input-group-btn">
                    <button class="btn btn-primary" ng-click="search();"><i class="glyphicon glyphicon-search"></i></button>
                    <button class="btn btn-primary" ng-click="clearSearch();"><i class="glyphicon glyphicon-remove-sign"></i></button>
                    <button class="btn btn-primary" ng-click="AddLocation();"><i class="fa "></i>Add New </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive" ng-if="!loadingLocations">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <!--<th>LocationId</th>-->
                            <th>Location Name</th>
                            <th>Description</th>
                            <th>StoreName</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="location in LocationList | filter:filterLocation">
                            <!--<td>{{location.LocationId}}</td>-->
                            <td>{{location.LocationName}}</td>
                            <td>{{location.Description}}</td>
                            <td>{{location.StoreName}}</td>
                            <td class="col-sm-2">
                                <button ng-click="openLocationContainer(location);" type="button" class="btn btn-sm btn-primary">Edit</button>
                                <button ng-click="removeLocation(location.LocationId);" type="button" class="btn btn-sm btn-primary">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer">
            <div class="text-center">
                <custom-pager page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)"></custom-pager>
            </div>
        </div>
    </div>
</div>

